1.用自己的話解釋什麼是CORS?<br/>
答案:CORS就是針對不同源請求而定下的規範，透過JavaScript存取(分享)非同源資源時，伺服器必須明確告知瀏覽器允許何種請求，只有伺服器允許的請求能夠被瀏覽器實際發送，否則將會存取失敗。
<br/><br/>
2.瀏覽器會擋你的跨來源請求，是因為什麼問題?<br/>
答案:基於安全性考量，防止惡意程式碼從其他來源干擾網頁的運作，所以程式碼所發出的跨來源請求會受到限制。
<br/><br/>
3.瀏覽器會擋跨來源的 AJAX ，那為什麼圖片、CSS 或是 script 不擋?<br/>
答案:因為圖片與CSS等，比較像是網頁資源的一部分，標籤可以拿到的資源是有限制的，所以實際上，在瀏覽器上面，CORS的限制其實是「拿不到回應」，而不是「發不出要求」。